

.aboutMe {
  font-family: 'Montserrat', sans-serif;

}

.header {
  text-align: center;
  font-style: italic;
  font-family: 'Great Vibes', cursive;
  font-size: 75px;
  padding-top: 75px;
  padding-bottom: 30px;
}

.flex {
  padding-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.paragraph{
  padding-right: 50px;
  text-align: left;
}

.photo {
  padding-left: 50px;
  padding-right: 50px;
}
