.home-image {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
}

.copyright {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10;
}
