@import 'aboutMe';
@import 'contactMe';
@import 'gallery';
@import 'home';

@media screen and (max-width:629px) {

   /* one column code */
   .nav {
    margin-left: 0px;
    display: flex ;
    align-items: stretch ;
    flex-flow: column wrap ;

  }
  .links {
    order: 2;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: black;
  }

  .name {
    order: 1 ;
    width: 100% ;
  }

  .home-image-mobile {
    width: 378px ;
    height: 300px ;
  }

  .home-image {
    padding-top: 50px;
  }

  .header {
    text-align: center;
    font-style: italic;
    font-family: 'Great Vibes', cursive;
    font-size: 75px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .flex {
   display: block;
   padding-top: 0px;
   margin-left: 10px;
   margin-right: 10px;

  }

  .photo {
    display: block;
    float: left;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .paragraph {
    text-align: left;
    padding-left: 20px;
    width: 100%;

  }
}

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }


  form div {
    margin: 1em;
    display: inline-block;
  }

}


