@import 'aboutMe';
@import 'contactMe';
@import 'gallery';
@import 'home';

@media screen and (max-width:629px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
   /* one column code */
   .nav {
    display: flex ;
    align-items: stretch ;
    flex-flow: column wrap ;
    font-family: 'Montserrat', sans-serif;
    color: black;
  }
  .links {
    order: 2 ;
    //width: 100%;
  }
  .name {
    order: 1 ;
    width: 100% ;
  }

  .home-image {
    width: auto ;
    max-width: 90% ;
    height: auto ;
  }

  .flex {
    display: flex;
  }

  .photo {
    max-width: 90%;
    order: 1;
  }

  .paragraph {
    text-align: center;
    order: 2;
  }
}

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }


  form div {
    margin: 1em;
    display: inline-block;
  }

}


